#pub {
  -webkit-filter: grayscale(100%);
  filter:grayscale(100%);
  opacity: 0.5;
}

body {
  background-color: black;
  color: white;

}

p {
  color: green;
  visited: yellow;
}


#logo {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;

}

#hours {
  border-spacing: 0.5rem;
  border: 1px solid white;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

td, th {
  border: 1px solid #999;
  width: 5em;
  text-align: center;
}

td:first-child, th:first-child {
  padding: 0.9rem;
  text-align: center;
  width: 10em;
}

#user-form {
  color: green;
  font-size: 18px;
}
